.h1{
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: underline;
}
.li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}