.h1{
    color: maroon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.li{
    font-family: Arial, Helvetica, sans-serif;
}
.ol{
    font-family: Georgia, 'Times New Roman', Times, serif;
}